{% extends 'orgs/org-detail-base.html' %}
{% block title %}机构课程{% endblock %}
{% block breach %}机构课程{% endblock %}
{% block right %}
    <div class="right companycenter layout" >
		<div class="head">
			<h1>机构课程</h1>
		</div>
            <div class="brief group_list">

                    {% for course in pages %}
                        <div class="module1_5 box">
                        <a class="comp-img-box" href="course-detail.html">

                            <img width="214" height="195" src={{ MEDIA_URL }}{{ course.image }}/>
                        </a>

                        <div class="des">
                            <a href="course-detail.html"><h2>{{ course.name }}</h2></a>
                            <span class="fl">课时：<i class="key">{{ course.study_time }}</i></span>
                            <span class="fr">学习人数：{{ course.study_num }}</span>
                        </div>

                        <div class="bottom">
                            <span class="fl">{{ course.name }}</span>
                             <span class="star fr  notlogin
                                " data-favid="13" data-fav-type="4">
                                {{ course.love_num }}
                            </span>
                        </div>

                    </div>
                    {% endfor %}
            </div>
    </div>

    <div class="pageturn">
            <ul class="pagelist">
                {% comment %}如果有上页显示上页{% endcomment %}
                {% if pages.has_previous %}
                    <li class="long"><a href="?pagenum={{ pages.previous_page_number }}">上一页</a></li>
                {% endif %}

                {% for num in pages.paginator.page_range %}
                    {% comment %}判断该页是不是当前页，如果是显示黑框{% endcomment %}
                    <li{% if pages.number == num %} class="active"{% endif %}><a href="?pagenum={{ num }}">{{ num }}</a></li>
                {% endfor %}

                {% comment %}如果有下页显示下页{% endcomment %}
                {% if pages.has_next %}
                    <li class="long"><a href="?pagenum={{ pages.next_page_number }}">下一页</a></li>
                {% endif %}
            </ul>
    </div>

{% endblock %}
